@charset "utf-8";
/* CSS Document */





#leftImage img {
	padding-top: 50px;
	
}



 body {
	background-color: #000000;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}
#left-content #leftImage .row p {
	padding: 5px;
}



#center-content .innerText {
	padding-top: 30px;
	padding-right: 45px;
	padding-bottom: 30px;
	padding-left: 30px;
}
.innerText ol li {
	line-height: 20px;
}
